.flex {
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.post {
    /*margin: 25px;*/
    padding-left: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.posts {
    display: flex;
    justify-content: flex-start;
    margin: 25px;
    max-width: 600px;
}